- if users.any?
  = render :layout => "layouts/center_cols_set" do
    %h1 Listing Users
    %table.table
      %tr
        %th Name
        %th Email
      - users.each do |user|
        %tr
          %td= link_to user.full_name, user_path(user.id)
          %td= user.email
- else
  %h1 Sorry, there's no users yet.